<html>
    <meta charset="UTF-8">
    <head>
        <title>Calendar</title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
    <style>
        body {
            background-color: #E4E7ED;
        }

        .vc-day.is-not-in-month div {
            opacity: 0.5 !important;
        }

        .calendarCard {
            padding: 5px;
        }

        .dayInfo {
            border: 2px solid #E6A23C;
            background-color: #E6A23C;
            color: white;
            border-radius: 5px;
            padding: 2px;
        }

        .addDayItem {
            border: 2px solid #409EFF;
            background-color: #409EFF;
            color: white;
            border-radius: 5px;
            padding: 2px;
        }

        .deleteDayItem {
            border: 2px solid #F56C6C;
            background-color: #F56C6C;
            color: white;
            border-radius: 5px;
        }
    </style>
    <body>
    <div id="app">
        <el-row>
            <h2 style="text-align: center">Calendar</h2>
            <v-date-picker v-model="calendarDate"
                           :attributes='calendarAttributes'
                           show-weeknumbers="left-outside"
                           is-dark
                           is-expanded
                           is-range>
                <template v-slot:day-content="{ day, attributes }">
                    <template v-for="info in convertDataInfo(day)">
                        <div class="calendarCard">
                            <el-card class="box-card" :style="(info.isToday) ? 'background-color: #409EFF' : ''">
                                <div slot="header" class="clearfix">
                                    <span class="dayInfo">{{ info.day }}</span>
                                    <button class="addDayItem" @click="addDayItem(info)">+</button>
                                </div>
                                <template v-if="info.regularInfo.items && info.regularInfo.items.length">
                                    <div v-for="item in info.regularInfo.items" v-if="item.content">
                                        <el-popconfirm :title="'Finish ' + item.content"
                                                       @confirm="finishRegularItem(info.date, item, false)"
                                                       v-if="regularItemFinish[info.date] && regularItemFinish[info.date][item.id]">
                                            <div slot="reference" style="color: #67C23A">{{ item.content }}</div>
                                        </el-popconfirm>
                                        <el-popconfirm :title="'Finish ' + item.content" @confirm="finishRegularItem(info.date, item, true)" v-else>
                                            <div slot="reference">{{ item.content }}</div>
                                        </el-popconfirm>
                                        <div v-if="item.start && item.end" :style="(item.inTimeRange) ? 'color: #F56C6C;' : ''">
                                            <div>{{ convertTimeFormat(item.start) }} ~ {{ convertTimeFormat(item.end) }}</div>
                                        </div>
                                        <div v-else-if="item.start">
                                            <div>Start at: {{ convertTimeFormat(item.start) }}</div>
                                        </div>
                                        <div v-else-if="item.end">
                                            <div>Done before: {{ convertTimeFormat(item.end) }}</div>
                                        </div>
                                    </div>
                                </template>
                                <template v-if="dayItems[info.date] && dayItems[info.date].length">
                                    <div v-for="(item, dayItemIndex) in dayItems[info.date]">
                                        <div>
                                            <button class="deleteDayItem" @click="deleteDayItem(dayItems[info.date], dayItemIndex)">x</button>
                                            <el-popconfirm :title="'UnFinish ' + item.content" @confirm="finishDayItem(item, false)" v-if="item.finished">
                                                <div slot="reference" style="color: #67C23A">{{ item.content }}</div>
                                            </el-popconfirm>
                                            <el-popconfirm :title="'Finish ' + item.content" @confirm="finishDayItem(item, true)" v-else>
                                                <div slot="reference">{{ item.content }}</div>
                                            </el-popconfirm>
                                        </div>
                                        <div v-if="item.start && item.end">
                                            <div>{{ convertTimeFormat(item.start) }} ~ {{ convertTimeFormat(item.end) }}</div>
                                        </div>
                                        <div v-else-if="item.start">
                                            <div>Start at: {{ convertTimeFormat(item.start) }}</div>
                                        </div>
                                        <div v-else-if="item.end">
                                            <div>Done before: {{ convertTimeFormat(item.end) }}</div>
                                        </div>
                                    </div>
                                </template>
                            </el-card>
                        </div>
                    </template>
                </template>
            </v-date-picker>
        </el-row>
        <el-row>
            <el-col :span="12" :offset="6">
                <h3>Todo</h3>
                <el-button type="primary" @click="exportTodo">Export</el-button>
                <el-button type="success" @click="displayTodoImport = true;">Import</el-button>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12" :offset="6">
                <el-input type="textarea"
                          @keydown.enter.native="storeTodo"
                          v-model="todoInput">
                </el-input>
                <el-button @click="storeTodo" type="primary">Store</el-button>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12" :offset="6">
                <template v-for="groupData in todoGroup">
                    <h4>{{ groupData.type }}</h4>
                    <div v-for="(data, dataIndex) in groupData.todo">
                        <el-autocomplete
                                style="width: 100px"
                                v-model="data.type"
                                class="inline-input"
                                v-model="state1"
                                :fetch-suggestions="todoTypeSearch"
                        ></el-autocomplete>
                        <el-input v-if="data.edit" v-model="data.content" @keydown.enter.native="finishEdit(data)"></el-input>
                        <span v-else @click="todoEdit(data)">{{ data.content }}</span>
                        <el-button type="danger" @click="deleteTodo(data, dataIndex)">x</el-button>
                    </div>
                </template>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12" :offset="6">
                <h3>Functions</h3>
                <el-button @click="sortOptions" type="primary">Sort options</el-button>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12" :offset="6">
                <h3>Form storage</h3>
                <el-button @click="displayFormStore = true;" type="primary">Store form</el-button>
                <el-form>
                    <el-form-item v-for="(form, formName) in formStorage" :label="formName">
                        <el-button @click="applyFormStorage(formName)" type="success">Apply</el-button>
                        <el-button @click="deleteFormStorage(formName)" type="danger">Delete</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12" :offset="6">
                <h3>Cycles</h3>
                <el-form :model="form" label-width="200px">
                    <template v-for="day in [
                        {
                            column: 'monday',
                            display: 'Monday',
                            formItem: form.monday,
                        },
                        {
                            column: 'tuesday',
                            display: 'Tuesday',
                            formItem: form.tuesday,
                        },
                        {
                            column: 'wednesday',
                            display: 'Wednesday',
                            formItem: form.wednesday,
                        },
                        {
                            column: 'thursday',
                            display: 'Thursday',
                            formItem: form.thursday,
                        },
                        {
                            column: 'friday',
                            display: 'Friday',
                            formItem: form.friday,
                        },
                        {
                            column: 'saturday',
                            display: 'Saturday',
                            formItem: form.saturday,
                        },
                        {
                            column: 'sunday',
                            display: 'Sunday',
                            formItem: form.sunday,
                        },
                    ]">
                        <el-form-item :label="day.display">
                            <el-button type="primary" @click="addItem(day.formItem)">Add item</el-button>
                        </el-form-item>
                        <el-form-item label="items">
                            <div v-for="(item, itemIndex) in day.formItem.items">
                                <el-form>
                                    <el-form-item label="">
                                        <el-button type="danger" @click="deleteFormItem(day.formItem.items, itemIndex)">Delete</el-button>
                                    </el-form-item>
                                    <el-form-item label="content">
                                        <el-input v-model="item.content"></el-input>
                                    </el-form-item>
                                    <el-form-item label="start">
                                        <el-time-picker v-model="item.start"></el-time-picker>
                                    </el-form-item>
                                    <el-form-item label="end">
                                        <el-time-picker v-model="item.end"></el-time-picker>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </el-form-item>
                    </template>
                </el-form>
            </el-col>
        </el-row>
        <el-dialog title="Add day item"
                :visible.sync="ifAddDayItem"
                width="30%">
            <el-form :model="dayItemForm"
                     label-width="80px"
                     ref="dayItemForm"
                     :rules="{
                date: [{ required: true, message: 'must enter date', trigger: 'blur' }],
                content: [{ required: true, message: 'must enter content', trigger: 'blur' }],
            }">
                <el-form-item label="date" prop="date">
                    <el-date-picker format="yyyy-MM-dd"
                                    value-format="yyyy-MM-dd"
                                    v-model="dayItemForm.date"
                                    type="date">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="content" prop="content">
                    <el-input v-model="dayItemForm.content"></el-input>
                </el-form-item>
                <el-form-item label="start">
                    <el-time-picker v-model="dayItemForm.start"></el-time-picker>
                </el-form-item>
                <el-form-item label="end">
                    <el-time-picker v-model="dayItemForm.end"></el-time-picker>
                </el-form-item>
                <el-form-item label="">
                    <el-button type="primary" @click="storeDayItem">Store</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <el-dialog title="Store form"
                   :visible.sync="displayFormStore"
                   width="30%">
            <el-input v-model="formStorageName"></el-input>
            <el-button type="success" @click="storeForm">Store</el-button>
        </el-dialog>
        <el-dialog title="Todo import"
                   :visible.sync="displayTodoImport"
                   width="30%">
            <el-input v-model="todoImport"></el-input>
            <el-button type="success" @click="importTodo">Import</el-button>
        </el-dialog>
    </div>
    <script src="plugins/vue.js"></script>
    <script src="plugins/element.min.js"></script>
    <script src="plugins/moment.min.js"></script>
    <script src="plugins/v-calendar.umd.min.js"></script>
    <script type="text/javascript">

        new Vue({
            el: '#app',
            data() {
                let form = JSON.parse(localStorage.getItem('calendar-form'));
                if (!form) {
                    form = {
                        monday: {
                            items: [this.newItem()],
                        },
                        tuesday: {
                            items: [this.newItem()],
                        },
                        wednesday: {
                            items: [this.newItem()],
                        },
                        thursday: {
                            items: [this.newItem()],
                        },
                        friday: {
                            items: [this.newItem()],
                        },
                        saturday: {
                            items: [this.newItem()],
                        },
                        sunday: {
                            items: [this.newItem()],
                        },
                    };
                }

                let dayItems = JSON.parse(localStorage.getItem('calendar-day-items'));
                if (!dayItems) {
                    dayItems = {};
                }

                let regularItemFinish = JSON.parse(localStorage.getItem('calendar-regular-item-finish'));
                if (!regularItemFinish) {
                    regularItemFinish = {};
                }

                let formStorage = JSON.parse(localStorage.getItem('calendar-form-storage'));
                let todo = JSON.parse(localStorage.getItem('calendar-todo'));
                if (!todo) {
                    todo = [];
                }

                return {
                    todoImport: '',
                    displayTodoImport: false,
                    todoInput: '',
                    todo: todo,
                    displayFormStore: false,
                    formStorageName: '',
                    formStorage: (formStorage) ? formStorage : {},
                    form: form,
                    dayItems: dayItems,
                    regularItemFinish: regularItemFinish,
                    calendarDate: null,
                    calendarAttributes: [],
                    ifAddDayItem: false,
                    dayItemForm: {
                        date: null,
                        content: null,
                        start: null,
                        end: null,
                    },
                };
            },
            methods: {
                newItem() {
                    return {
                        content: '',
                        start: '',
                        end: '',
                        id: Math.random().toString(36).slice(2),
                    };
                },
                addItem(formItem) {
                    formItem.items.push(this.newItem());
                },
                convertDataInfo(day) {
                    let formatDate = moment(day.date).format('YYYY-MM-DD');
                    let formIndex;
                    switch (moment(day.date).day()) {
                        case 0:
                            formIndex = 'sunday';
                            break;
                        case 1:
                            formIndex = 'monday';
                            break;
                        case 2:
                            formIndex = 'tuesday';
                            break;
                        case 3:
                            formIndex = 'wednesday';
                            break;
                        case 4:
                            formIndex = 'thursday';
                            break;
                        case 5:
                            formIndex = 'friday';
                            break;
                        case 6:
                            formIndex = 'saturday';
                            break;
                    }

                    if (day.isToday) {
                        this.form[formIndex].items.map(item => {
                            if (
                                item.start &&
                                item.end &&
                                moment().isBetween(
                                    moment().format('YYYY-MM-DD') + ' ' + moment(item.start).format('HH:MM:ss'),
                                    moment().format('YYYY-MM-DD') + ' ' + moment(item.end).format('HH:mm:ss')
                                )
                            ) {
                                item.inTimeRange = true;
                            }

                            return item;
                        })
                    }

                    return {
                        info: {
                            day: day.day,
                            date: formatDate,
                            isToday: day.isToday,
                            regularInfo: this.form[formIndex],
                        },
                    };
                },
                convertTimeFormat(time) {
                    if (!time) {
                        return '-';
                    }

                    return moment(time).format('HH:mm');
                },
                addDayItem(info) {
                    this.ifAddDayItem = true;
                    this.dayItemForm.date = info.date;
                },
                storeDayItem() {
                    this.$refs['dayItemForm'].validate((valid) => {
                        if (valid) {
                            if (!this.dayItems[this.dayItemForm.date]) {
                                this.$set(this.dayItems, this.dayItemForm.date, []);
                            }

                            this.dayItems[this.dayItemForm.date].push(JSON.parse(JSON.stringify(this.dayItemForm)));
                            this.ifAddDayItem = false;
                        }
                    });
                },
                deleteFormItem(items, deleteIndex) {
                    items.splice(deleteIndex, 1);
                },
                deleteTodo(todo, dataIndex) {
                    if (todo.type === 'trash') {
                        this.$confirm('delete' + todo.content, 'force delete', {
                            confirmButtonText: 'yes',
                            cancelButtonText: 'no',
                            type: 'warning'
                        }).then(() => {
                            this.todo.splice(dataIndex, 1);
                        }).catch(() => {
                        });
                    } else {
                        todo.type = 'trash';
                    }
                },
                deleteDayItem(items, deleteIndex) {
                    this.$confirm('Make sure you want to delete', 'Alert', {
                        confirmButtonText: 'Confirm',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    }).then(() => {
                        items.splice(deleteIndex, 1);
                    }).catch(() => {});
                },
                finishDayItem(item, finished) {
                    this.$set(item, 'finished', finished);
                },
                finishRegularItem(date, item, finished) {
                    if (!this.regularItemFinish[date]) {
                        this.$set(this.regularItemFinish, date, {});
                    }

                    this.$set(this.regularItemFinish[date], item.id, finished);
                },
                storeForm() {
                    this.$set(this.formStorage, this.formStorageName, JSON.stringify(this.form));
                    this.formStorageName = '';
                    this.displayFormStore = false;
                },
                applyFormStorage(formName) {
                    this.form = JSON.parse(this.formStorage[formName]);
                },
                deleteFormStorage(formName) {
                    delete this.formStorage[formName];
                    localStorage.setItem('workout-calendar-form-storage', JSON.stringify(this.formStorage));
                    this.$forceUpdate();
                },
                sortOptions() {
                    Object.keys(this.form).forEach(key => {
                        this.form[key].items.sort((a, b) => {
                            return moment(moment().format('YYYY-MM-DD') + ' ' + moment(a.start).format('HH:MM:ss'))
                                .isBefore(moment(moment().format('YYYY-MM-DD') + ' ' + moment(b.start).format('HH:MM:ss')))
                                ? -1 : 1;
                        })
                    });
                },
                storeTodo() {
                    if (!this.todoInput) {
                        return;
                    }

                    let type = '';
                    let match = this.todoInput.match(/^(#)([^ ]+)( )(.+)/);
                    if (match) {
                        type = match[2];
                        this.todoInput = match[4];
                    }

                    this.todo.push({
                        content: this.todoInput,
                        type: type,
                    });

                    this.todoInput = '';
                },
                todoEdit(todo) {
                    this.$set(todo, 'edit', true);
                },
                finishEdit(todo) {
                    todo.edit = false;
                },
                exportTodo() {
                    this.displayTodoImport = true;
                    this.todoImport = JSON.stringify(this.todo);
                },
                importTodo() {
                    let todo = JSON.parse(this.todoImport);
                    console.log(todo);
                    todo.forEach(data => {
                       let found = this.todo.find(todoData => todoData.content === data.content);
                       if (!found) {
                           this.todo.push({
                               content: data.content,
                               type: data.type,
                           });
                       } else if (data.type === 'trash') {
                           found.type = 'trash';
                       }
                    });
                },
                todoTypeSearch(queryString, cb) {
                    cb(this.todoGroup.map(data => ({ value: data.type })));
                },
            },
            watch: {
                form: {
                    handler(form) {
                        localStorage.setItem('calendar-form', JSON.stringify(form));
                    },
                    deep: true,
                },
                dayItems: {
                    handler(dayItems) {
                        localStorage.setItem('calendar-day-items', JSON.stringify(dayItems));
                    },
                    deep: true,
                },
                regularItemFinish: {
                    handler(regularItemFinish) {
                        localStorage.setItem('calendar-regular-item-finish', JSON.stringify(regularItemFinish));
                    },
                    deep: true,
                },
                formStorage: {
                    handler() {
                        localStorage.setItem('calendar-form-storage', JSON.stringify(this.formStorage));
                    },
                    deep: true,
                },
                todo: {
                    handler() {
                        localStorage.setItem('calendar-todo', JSON.stringify(this.todo));
                    },
                    deep: true,
                },
            },
            computed: {
                todoGroup: function () {
                    let todoTypes = {};
                    this.todo.forEach(data => {
                        if (todoTypes[data.type]) {
                            todoTypes[data.type].push(data);
                        } else {
                            todoTypes[data.type] = [data];
                        }
                    });

                    let todoGroup = [];
                    let empty = todoTypes[''];
                    let deleted = todoTypes['trash'];
                    delete todoTypes[''];
                    delete todoTypes['trash'];
                    if (empty) {
                        todoGroup.push({
                            type: '',
                            todo: empty,
                        })
                    }

                    Object.keys(todoTypes).forEach(type => {
                        todoGroup.push({
                            type: type,
                            todo: todoTypes[type],
                        });
                    });

                    if (deleted) {
                        todoGroup.push({
                            type: 'trash',
                            todo: deleted,
                        })
                    }

                    return todoGroup;
                },
            }
        })
    </script>
    </body>
</html>
