<html>
    <meta charset="UTF-8">
    <head>
        <title>Calendar</title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
    <style>
        body {
            background-color: #E4E7ED;
        }

        .vc-day.is-not-in-month div {
            opacity: 0.5 !important;
        }

        .calendarCard {
            padding: 5px;
        }

        .dayInfo {
            border: 2px solid #E6A23C;
            background-color: #E6A23C;
            color: white;
            border-radius: 5px;
            padding: 2px;
        }

        .addDayItem {
            border: 2px solid #409EFF;
            background-color: #409EFF;
            color: white;
            border-radius: 5px;
            padding: 2px;
        }
    </style>
    <body>
    <div id="app">
        <el-row>
            <h2 style="text-align: center">Workout calendar</h2>
            <v-date-picker v-model="calendarDate"
                           :attributes='calendarAttributes'
                           show-weeknumbers="left-outside"
                           is-dark
                           is-expanded
                           is-range>
                <template v-slot:day-content="{ day, attributes }">
                    <template v-for="info in convertDataInfo(day)">
                        <div class="calendarCard">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="dayInfo">{{ info.day }}</span>
                                    <button class="addDayItem" @click="addDayItem(info)">+</button>
                                </div>
                                <template v-if="info.regularInfo.items && info.regularInfo.items.length">
                                    <div v-for="item in info.regularInfo.items" v-if="item.content">
                                        <div>{{ item.content }}</div>
                                        <div v-if="item.start && item.end">
                                            <div>{{ convertTimeFormat(item.start) }} ~ {{ convertTimeFormat(item.end) }}</div>
                                        </div>
                                        <div v-else-if="item.start">
                                            <div>Start at: {{ convertTimeFormat(item.start) }}</div>
                                        </div>
                                        <div v-else-if="item.end">
                                            <div>Done before: {{ convertTimeFormat(item.end) }}</div>
                                        </div>
                                    </div>
                                </template>
                            </el-card>
                        </div>
                    </template>
                </template>
            </v-date-picker>
        </el-row>
        <el-row>
            <el-col :span="12" :offset="6">
                <h3>Cycles</h3>
                <el-form :model="form" label-width="200px">
                    <template v-for="day in [
                        {
                            column: 'monday',
                            display: 'Monday',
                            formItem: form.monday,
                        },
                        {
                            column: 'tuesday',
                            display: 'Tuesday',
                            formItem: form.tuesday,
                        },
                        {
                            column: 'wednesday',
                            display: 'Wednesday',
                            formItem: form.wednesday,
                        },
                        {
                            column: 'thursday',
                            display: 'Thursday',
                            formItem: form.thursday,
                        },
                        {
                            column: 'friday',
                            display: 'Friday',
                            formItem: form.friday,
                        },
                        {
                            column: 'saturday',
                            display: 'Saturday',
                            formItem: form.saturday,
                        },
                        {
                            column: 'sunday',
                            display: 'Sunday',
                            formItem: form.sunday,
                        },
                    ]">
                        <el-form-item :label="day.display">
                            <el-button type="primary" @click="addItem(day.formItem)">Add item</el-button>
                        </el-form-item>
                        <el-form-item label="items">
                            <div v-for="item in day.formItem.items">
                                <el-form>
                                    <el-form-item label=""></el-form-item>
                                    <el-form-item label="content">
                                        <el-input v-model="item.content"></el-input>
                                    </el-form-item>
                                    <el-form-item label="start">
                                        <el-time-picker v-model="item.start"></el-time-picker>
                                    </el-form-item>
                                    <el-form-item label="end">
                                        <el-time-picker v-model="item.end"></el-time-picker>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </el-form-item>
                    </template>
                </el-form>
            </el-col>
        </el-row>
        <el-dialog title="Add day item"
                :visible.sync="ifAddDayItem"
                width="30%">
            <el-form :model="dayItemForm"
                     label-width="80px"
                     ref="dayItemForm"
                     :rules="{
                date: [{ required: true, message: 'must enter date', trigger: 'blur' }],
                content: [{ required: true, message: 'must enter content', trigger: 'blur' }],
            }">
                <el-form-item label="date" prop="date">
                    <el-date-picker format="yyyy-MM-dd"
                                    value-format="yyyy-MM-dd"
                                    v-model="dayItemForm.date"
                                    type="date">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="content" prop="content">
                    <el-input v-model="dayItemForm.content"></el-input>
                </el-form-item>
                <el-form-item label="start">
                    <el-time-picker v-model="dayItemForm.start"></el-time-picker>
                </el-form-item>
                <el-form-item label="end">
                    <el-time-picker v-model="dayItemForm.end"></el-time-picker>
                </el-form-item>
                <el-form-item label="">
                    <el-button type="primary" @click="storeDayItem">Store</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>
    <script src="plugins/vue.js"></script>
    <script src="plugins/element.min.js"></script>
    <script src="plugins/moment.min.js"></script>
    <script src="plugins/v-calendar.umd.min.js"></script>
    <script type="text/javascript">

        new Vue({
            el: '#app',
            data() {
                let form = JSON.parse(localStorage.getItem('calendar-form'));
                if (!form) {
                    form = {
                        monday: {
                            items: [this.newItem()],
                        },
                        tuesday: {
                            items: [this.newItem()],
                        },
                        wednesday: {
                            items: [this.newItem()],
                        },
                        thursday: {
                            items: [this.newItem()],
                        },
                        friday: {
                            items: [this.newItem()],
                        },
                        saturday: {
                            items: [this.newItem()],
                        },
                        sunday: {
                            items: [this.newItem()],
                        },
                    };
                }

                let dayItems = JSON.parse(localStorage.getItem('calendar-day-items'));
                if (!dayItems) {
                    dayItems = {};
                }

                return {
                    form: form,
                    dayItems: dayItems,
                    calendarDate: null,
                    calendarAttributes: [],
                    ifAddDayItem: false,
                    dayItemForm: {
                        date: null,
                        content: null,
                        start: null,
                        end: null,
                    },
                };
            },
            methods: {
                newItem() {
                    return {
                        content: '',
                        start: '',
                        end: '',
                    };
                },
                addItem(formItem) {
                    formItem.items.push(this.newItem());
                },
                convertDataInfo(day) {
                    let formatDate = moment(day.date).format('YYYY-MM-DD');
                    let formIndex;
                    switch (moment(day.date).day()) {
                        case 0:
                            formIndex = 'sunday';
                            break;
                        case 1:
                            formIndex = 'monday';
                            break;
                        case 2:
                            formIndex = 'tuesday';
                            break;
                        case 3:
                            formIndex = 'wednesday';
                            break;
                        case 4:
                            formIndex = 'thursday';
                            break;
                        case 5:
                            formIndex = 'friday';
                            break;
                        case 6:
                            formIndex = 'saturday';
                            break;
                    }

                    return {
                        info: {
                            day: day.day,
                            date: formatDate,
                            isToday: day.isToday,
                            regularInfo: this.form[formIndex],
                        },
                    };
                },
                convertTimeFormat(time) {
                    if (!time) {
                        return '-';
                    }

                    return moment(time).format('HH:mm');
                },
                addDayItem(info) {
                    this.ifAddDayItem = true;
                    this.dayItemForm.date = info.date;
                },
                storeDayItem() {
                    this.$refs['dayItemForm'].validate((valid) => {
                        if (valid) {
                            if (!this.dayItems[this.dayItemForm.date]) {
                                this.$set(this.dayItems, this.dayItemForm.date, []);
                            }

                            this.dayItems[this.dayItemForm.date].push(this.dayItemForm);
                            this.ifAddDayItem = false;
                        }
                    });
                },
            },
            watch: {
                form: {
                    handler(form) {
                        localStorage.setItem('calendar-form', JSON.stringify(form));
                    },
                    deep: true,
                },
                dayItems: {
                    handler(dayItems) {
                        localStorage.setItem('calendar-day-items', JSON.stringify(dayItems));
                    },
                    deep: true,
                },
            },
        })
    </script>
    </body>
</html>
